<!DOCTYPE html>
<!-- Se pone la etiqueta de thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="contenido">
            <h2>Listado de Clientes</h2>
            <br>
            <br>
            <div th:if="${clientes  != null and !clientes .empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Límite</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- th:each="item: ${lista}"-->
                        <tr th:each="item : ${clientes}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.apellidos}"></td>
                            <td th:text="${item.correo}"></td>
                            <td th:text="${item.telefono}"></td>
                            <td th:text="${item.credito.limite}"></td>
                            <td><a th:href="@{/cliente/modificar/} + ${item.idCliente}">Modificar</a></td>
                            <td><a th:href="@{/cliente/eliminar/} + ${item.idCliente}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <!-- Regular los datos para que aparezca sí y solo sí es nula o vacía -->
            <div th:if="${clientes == null or clientes.empty}">
                <p>No tenemos lista de clientes para mostrar</p>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>        
    </body>
</html>